@forward "components/utils/all";
@forward "tailwindcss";

@forward "./components/autocomplete"; 
// @forward "./components/breadcrumb";
@forward "./components/button";
@forward "./components/carousel"; // adapt to latest version - Done
@forward "./components/checkbox";
@forward "./components/collapse"; // adapt to latest version
@forward "./components/datepicker";
// @forward "./components/datetimepicker";
@forward "./components/dropdown";
@forward "./components/field";
@forward "./components/icon";
@forward "./components/input"; // adapt to latest version - Done
// @forward "./components/listbox"; 
@forward "./components/loading";
@forward "./components/modal";
@forward "./components/menu";
@forward "./components/notification"; 
@forward "./components/pagination";
@forward "./components/radio";
@forward "./components/select"; // adapt to latest version - Done
@forward "./components/sidebar"; // adapt to latest version
@forward "./components/skeleton"; 
@forward "./components/slider";
// @forward "./components/steps";
@forward "./components/switch";
@forward "./components/table";
@forward "./components/tabs"; // adapt to latest version
@forward "./components/taginput";
@forward "./components/timepicker";
@forward "./components/tooltip";
@forward "./components/upload"; // adapt to latest version

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind tokens;

