@forward "components/utils/all";
@forward "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind tokens;

@theme {
  --font-display: "font-sans";
}

* {
    font-weight: bold;
    font-family: var(--font-display);
}
