.is-noscroll {
    position: fixed;
    overflow-y: hidden;
    width: 100%;
    bottom: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bcbcbc; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #808080; 
}