/********************************************
*   Variable overrides and theme variables
*********************************************/
@use "sass:map";

$primary: var(--color-blue-700) !default;
$primary-invert: var(--color-blue-50) !default;
$secondary: var(--color-gray-700) !default;
$secondary-invert: var(--color-gray-50) !default;

$success: var(--color-green-700) !default;
$success-invert: var(--color-green-50) !default;
$info: var(--color-sky-700) !default;
$info-invert: var(--color-sky-50) !default;
$warning: var(--color-yellow-700) !default;
$warning-invert: var(--color-yellow-50) !default;
$danger: var(--color-red-700) !default;
$danger-invert: var(--color-red-50) !default;

$theme-colors: (
  "primary": (
    $primary,
    $primary-invert,
  ),
  "secondary": (
    $secondary,
    $secondary-invert,
  ),
  "success": (
    $success,
    $success-invert,
  ),
  "info": (
    $info,
    $info-invert,
  ),
  "warning": (
    $warning,
    $warning-invert,
  ),
  "danger": (
    $danger,
    $danger-invert,
  ),
) !default;

$speed-slow: 150ms !default;
$speed-slower: 250ms !default;

// oruga defines an extra secondary color
$secondary: #6c757d !default;

// alternative to focus-shadow-size
$active-shadow-size: 0 0 0.5em !default;

// make the custom colors extandable by providing a new variable to override
$custom-colors: () !default;
