
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;


/* @docs */
$btn-spacer: 0.5rem !default;
$btn-font-size: var(--text-base) !default;
$btn-font-weight: 500 !default;
$btn-padding: 0.70rem 0.70rem !default;
/* @docs */


.button {
    padding:$btn-padding;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    line-height: normal;

    @each $name, $pair in vars.$theme-colors {
        $variant: list.nth($pair, 1);
        $variant-invert: list.nth($pair, 2);

        &.is-#{$name} {
            background-color: $variant;
            border-color: $variant;
            color: white;
            &:hover {
                opacity: .7;
            }
            &.outlined {
                background-color: transparent;
                color: $variant;

                &:hover {
                    background-color: $variant;
                    color: white;
                }
            }
            &.inverted {
                color: $variant;
                background-color: transparent;
                border-color: transparent;

                &:hover {
                    background-color: $variant-invert;
                    color: $variant;
                    border-color: $variant;
                }
            }
        }
    }

    &.is-small {
        font-size: var(--text-xs);
    }
    &.is-medium {
        font-size: var(--text-base);
    }
    &.is-large {
        font-size: var(--text-2xl);
    }

    .icon {
        margin-right: $btn-spacer;
        margin-left: calc($btn-spacer / 2);
    }
}

.button:not(:last-child):not(.w-full) {
    margin-right: $btn-spacer;
}