
@use "sass:map";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;


/* @docs */
$btn-spacer: 0.5rem !default;
/* @docs */

.button {
    background-color: utils.variant-varname(map.get(vars.$theme-colors, "primary"),vars.$variant-degree);
    color: white;
    // 
    padding:0.25rem 0.5rem;
    // 
    font-size: var(--text-base);
    // 
    line-height: var(--text-base--line-height);
    // 
    // transition: all vars.$speed-slow var(--ease-in);  -> duration-100 ease-in
    // 
    border: 0.005rem;
    border-style: var(--tw-border-style);
    border-color: utils.variant-varname(map.get(vars.$theme-colors, "primary"),vars.$variant-degree);
    // 
    &:hover {
        opacity: .9;
        @apply shadow-lg;
    }

    @each $name, $variant in vars.$theme-colors {
        &.is-#{$name} {
            background-color: utils.variant-varname($variant,vars.$variant-degree);
            border-color: utils.variant-varname($variant,vars.$variant-degree);
            &:hover {
                opacity: .9;
            }
            &.border {
                background-color: transparent;
                color: utils.variant-varname($variant,vars.$variant-degree);
                // // 
                &:hover {
                    background-color: utils.variant-varname($variant,vars.$variant-degree);
                    color: white;
                // // 
                }
            }
            &.inverted {
                color: utils.variant-varname($variant,vars.$variant-degree);
                background-color: transparent;
                // 
                border-color: transparent;
                &:hover {
                    background-color: utils.variant-varname($variant,"100");
                    color: utils.variant-varname($variant,vars.$variant-degree);
                    // 
                    border-color: utils.variant-varname($variant,vars.$variant-degree);
                }
            }
        }
    }

    &.is-small {
        padding:0.125rem 0.5rem;
        font-size: var(--text-sm);
        line-height: var(--text-sm--line-height);
    }
    &.is-medium {
        padding:0.25rem 0.75rem;
        font-size: var(--text-base);
        line-height: var(--text-base--line-height);
    }
    &.is-large {
        padding:0.5rem 1rem;
        font-size: var(--text-lg);
        line-height: var(--text-lg--line-height);
    }

    &.disabled {
        opacity: .5; 
        &:hover {
            cursor: not-allowed;
        }
    }
    .icon {
        margin-right: $btn-spacer;
    }
}

.button:not(:last-child):not(.w-full) {
    margin-right: $btn-spacer;
}