
// button {
    // @apply bg-indigo-600 text-white py-2 px-4 sm:px-8 sm:py-3 hover:bg-indigo-800
    //  text-white px-4 sm:px-8 py-2 sm:py-3 bg-indigo-700 hover:bg-indigo-800
// }
@use "sass:map";

$variants: (
    "primary": "bg-indigo-500",
    "info": "bg-sky-500",
    "secondary": "bg-gray-500 text-white",
    "success": "bg-green-500",
    "danger": "bg-red-500",
    "warning": "bg-yellow-500"
);

.button {
    @apply bg-indigo-600 text-white py-2 px-4 sm:px-8 sm:py-3 hover:bg-indigo-800;

    &.is-small {

    }
    &.is-medium {

    }
    &.is-large {

    }
  
    @each $name, $variant in $variants {
        &.is-#{$name} {
            @apply #{$variant};
        }
    }
    &.disabled {
        pointer-events: none;
        opacity: .5;
        &:hover {
            cursor: not-allowed;
        }
    }
}


