
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
/* @docs */

.carousel {
    &.is-overlay {
        background-color: rgba(0,0,0, 0.86);
        max-height: 100vh;
        z-index: -1;

        .carousel-indicator.has-background {
            background: transparent;
        }
    }

    .carousel-scene {
        .carousel-items {
            &:not(.is-dragging) {
                transition: all .2s ease-out 0s;
            }
        }
    }

    .carousel-indicator {
        &.has-background {
            background: white;
        }

        .indicator-item {
            &:not(:last-child) {
                margin-right: 0.5rem;
            }

            .indicator-style {
                &.is-boxes {
                    height: 10px;
                    width: 10px;
                }

                &.is-dots {
                    border-radius: 9999rem;
                    height: 10px;
                    width: 10px;
                }

                &.is-lines {
                    height: 5px;
                    width: 25px;
                }
            }
        }
    }
}

.carousel-arrow {
    &.has-icons-left,
    &.has-icons-right {
        position: absolute;
        top: 50%;
        transform: translateY(calc(-1 * 50%));
        z-index: 1;
    }

    &.has-icons-left {
        left: 1.5rem;
    }

    &.has-icons-right {
        right: 1.5rem;
    }
}
