
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
$carousel-arrow-background: white !default;
$carousel-arrow-color: list.nth(map.get(vars.$theme-colors, "primary"), 1) !default;
$carousel-arrow-icon-spaced: 1.5rem !default;
$carousel-arrow-top: 50% !default;

$carousel-indicator-background: rgba(0,0,0, 0.5) !default;
$carousel-indicator-border: white !default;
$carousel-indicator-color: list.nth(map.get(vars.$theme-colors, "primary"), 1) !default;
$carousel-indicator-spaced: 0.5rem !default;

$carousel-overlay-background: rgba(0,0,0, 0.86) !default;
$carousel-overlay-z: 40 !default;
/* @docs */

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;

    &.is-overlay {
        background-color: $carousel-overlay-background;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        display: flex;
        max-height: 100vh;
        position: fixed;
        z-index: -1;

        .carousel-item img {
            cursor: default;
        }

        .carousel-indicator.has-background {
            background: transparent;
        }
    }

    .carousel-scene {
        width: 100%;
        position: relative;

        .carousel-items {
            display: flex;

            &:hover .carousel-arrow.is-hovered {
                // @include mixins.tablet {
                //     opacity: 1;
                // }
            }

            &:not(.is-dragging) {
                transition: all .2s ease-out 0s;
            }

            .carousel-item {
                flex-shrink: 0;
                width: 100%;
                border: 2px solid transparent;
            }
        }
    }

    .carousel-indicator {
        width: 100%;
        // padding: css.getVar("carousel-indicator-spaced");
        display: flex;
        align-items: center;
        justify-content: center;

        &.has-background {
            background: $carousel-indicator-background;
        }

        &.has-custom {
            // @include mixins.overflow-touch;

            flex-wrap: nowrap;
            justify-content: flex-start;
            overflow: hidden;
            overflow-x: auto;

            &.is-small .indicator-item {
                flex: 1 0 10%;
            }

            &.is-medium .indicator-item {
                flex: 1 0 16.66667%;
            }
        }

        &.is-inside {
            position: absolute;

            &.is-bottom {
                bottom: 0;
            }

            &.is-top {
                top: 0;
            }
        }

        .indicator-item {
            &:not(:last-child) {
                // margin-right: css.getVar("carousel-indicator-spaced");
            }

            .indicator-style.is-active,
            .indicator-style.is-active:hover {
                background: $carousel-indicator-background;
                border: 1px solid $carousel-indicator-border;
            }

            .indicator-style {
                display: block;
                border: 1px solid $carousel-indicator-background;
                background: $carousel-indicator-border;
                outline: none;
                transition: .2s ease-in-out;

                &.is-boxes {
                    height: 10px;
                    width: 10px;
                }

                &.is-dots {
                    // border-radius: css.getVar("radius-rounded");
                    height: 10px;
                    width: 10px;
                }

                &.is-lines {
                    height: 5px;
                    width: 25px;
                }
            }
        }
    }
}

.carousel-arrow {
    transition: .2s ease-in-out;

    &.is-hovered {
        opacity: 0;
    }

    // &.icon {
    //     background: css.getVar("carousel-arrow-background");
    //     color: css.getVar("carousel-arrow-color");
    //     cursor: pointer;
    //     border: 1px solid css.getVar("carousel-arrow-background");
    //     border-radius: css.getVar("radius-rounded");
    //     outline: 0;

    //     &:hover {
    //         border: 1px solid css.getVar("carousel-arrow-color");
    //         opacity: 1;
    //     }

    //     &.has-icons-left,
    //     &.has-icons-right {
    //         position: absolute;
    //         top: css.getVar("carousel-arrow-top");
    //         transform: translateY(calc(-1 * css.getVar("carousel-arrow-top")));
    //         z-index: 1;
    //     }

    //     &.has-icons-left {
    //         left: css.getVar("carousel-arrow-icon-spaced");
    //     }

    //     &.has-icons-right {
    //         right: css.getVar("carousel-arrow-icon-spaced");
    //     }
    // }
}
