
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
$carousel-arrow-background: rgba(255,255,255, 0.5) !default;
$carousel-arrow-color: white !default;
$carousel-arrow-icon-spaced: 1.5rem !default;
$carousel-arrow-top: 50% !default;

$carousel-indicator-background: WHITE !default;
$carousel-indicator-border: rgba(255,255,255, 0.5) !default;
$carousel-indicator-color: white !default;
$carousel-indicator-spaced: 0.5rem !default;
$carousel-indicator-radius-rounded:9999px !default;

$carousel-overlay-background: rgba(0,0,0, 0.86) !default;
$carousel-overlay-z: 40 !default;
/* @docs */

.carousel {
    &.is-overlay {
        background-color: $carousel-overlay-background;
        max-height: 100vh;
        z-index: -1;

        .carousel-indicator.has-background {
            background: transparent;
        }
    }

    .carousel-scene {
        .carousel-items {
            &:not(.is-dragging) {
                transition: all .2s ease-out 0s;
            }
        }
    }

    .carousel-indicator {
        padding: $carousel-indicator-spaced;

        &.has-background {
            background: $carousel-indicator-background;
        }

        &.is-inside {
            &.is-bottom {
                bottom: 0;
            }

            &.is-top {
                top: 0;
            }
        }

        .indicator-item {
            &:not(:last-child) {
                margin-right: $carousel-indicator-spaced;
            }

            .indicator-style.is-active,
            .indicator-style.is-active:hover {
                background: $carousel-indicator-background;
                border: 1px solid $carousel-indicator-border;
            }

            .indicator-style {
                border: 1px solid $carousel-indicator-background;
                background: $carousel-indicator-border;

                &.is-boxes {
                    height: 10px;
                    width: 10px;
                }

                &.is-dots {
                    border-radius: $carousel-indicator-radius-rounded;
                    height: 10px;
                    width: 10px;
                }

                &.is-lines {
                    height: 5px;
                    width: 25px;
                }
            }
        }
    }
}

.carousel-arrow {
    &.is-hovered {
        opacity: 0;
    }

    &.icon {
        background: $carousel-arrow-background;
        color: $carousel-arrow-color;
        border: 1px solid $carousel-arrow-background;
        border-radius: $carousel-indicator-radius-rounded;
        width: 30px;
        height: 30px;

        &:hover {
            border: 1px solid $carousel-arrow-color;
            opacity: 1;
        }

        &.has-icons-left,
        &.has-icons-right {
            position: absolute;
            top: $carousel-arrow-top;
            transform: translateY(calc(-1 * $carousel-arrow-top));
            z-index: 1;
        }

        &.has-icons-left {
            left: $carousel-arrow-icon-spaced;
        }

        &.has-icons-right {
            right: $carousel-arrow-icon-spaced;
        }
    }
}
