
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
$carousel-arrow-background: rgba(255,255,255, 0.5) !default;
$carousel-arrow-color: white !default;
$carousel-arrow-icon-spaced: 1.5rem !default;
$carousel-arrow-top: 50% !default;

$carousel-indicator-background: WHITE !default;
$carousel-indicator-border: rgba(255,255,255, 0.5) !default;
$carousel-indicator-color: white !default;
$carousel-indicator-spaced: 0.5rem !default;
$carousel-indicator-radius-rounded:9999px !default;

$carousel-overlay-background: rgba(0,0,0, 0.86) !default;
$carousel-overlay-z: 40 !default;
/* @docs */

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;

    &.is-overlay {
        background-color: $carousel-overlay-background;
        //
        align-items: center;
        flex-direction: column;
        justify-content: center;
        display: flex; // -> flex flex-col items-center justify-center
        //
        max-height: 100vh;
        //
        position: fixed; // -> fixed
        //
        z-index: -1;

        .carousel-item img {
            cursor: default;
        }

        .carousel-indicator.has-background {
            background: transparent;
        }
    }

    .carousel-scene {
        width: 100%;
        position: relative; //-> w-full relative

        .carousel-items {
            display: flex; //_> flex

            &:hover .carousel-arrow.is-hovered {
                // @include mixins.tablet {
                //     opacity: 1;
                // }
            }

            &:not(.is-dragging) {
                transition: all .2s ease-out 0s;
            }

            .carousel-item {
                flex-shrink: 0;
                width: 100%;
                border: 2px solid transparent; // -> flex-shrink-0 w-full border-2 border-transparent
            }
        }
    }

    .carousel-indicator {
        width: 100%; // -> w-full
        //
        padding: $carousel-indicator-spaced;
        //
        display: flex;
        align-items: center;
        justify-content: center;// -> flex items-center justify-center

        &.has-background {
            background: $carousel-indicator-background;
        }

        &.has-custom {
            // @include mixins.overflow-touch;

            flex-wrap: nowrap;
            justify-content: flex-start;
            overflow: hidden;
            overflow-x: auto; // // -> flex flex-nowrap justify-start overflow-hidden overflow-x-auto

            &.is-small .indicator-item {
                flex: 1 0 10%;
            }

            &.is-medium .indicator-item {
                flex: 1 0 16.66667%;
            }
        }

        &.is-inside {
            position: absolute; // -> absolute

            &.is-bottom {
                bottom: 0;
            }

            &.is-top {
                top: 0;
            }
        }

        .indicator-item {
            &:not(:last-child) {
                margin-right: $carousel-indicator-spaced;
            }

            .indicator-style.is-active,
            .indicator-style.is-active:hover {
                background: $carousel-indicator-background;
                border: 1px solid $carousel-indicator-border;
            }

            .indicator-style {
                display: block; // -> block
                //
                border: 1px solid $carousel-indicator-background;
                //
                background: $carousel-indicator-border;
                //
                outline: none; // -> outline-none
                //
                transition: .2s ease-in-out; // -> transition duration-200 ease-in-out

                &.is-boxes {
                    height: 10px;
                    width: 10px;
                }

                &.is-dots {
                    border-radius: $carousel-indicator-radius-rounded;
                    height: 10px;
                    width: 10px;
                }

                &.is-lines {
                    height: 5px;
                    width: 25px;
                }
            }
        }
    }
}

.carousel-arrow {
    transition: .2s ease-in-out; // -> transition duration-200 ease-in-out

    &.is-hovered {
        opacity: 0;
    }

    &.icon {
        background: $carousel-arrow-background;
        color: $carousel-arrow-color;
        //
        cursor: pointer; // -> cursor-pointer
        //
        border: 1px solid $carousel-arrow-background;
        border-radius: $carousel-indicator-radius-rounded;
        //
        outline: 0; // -> outline-none
        //
        width: 30px;
        height: 30px;

        &:hover {
            border: 1px solid $carousel-arrow-color;
            opacity: 1;
        }

        &.has-icons-left,
        &.has-icons-right {
            position: absolute;
            top: $carousel-arrow-top;
            //
            transform: translateY(calc(-1 * $carousel-arrow-top));
            z-index: 1;
        }

        &.has-icons-left {
            left: $carousel-arrow-icon-spaced;
        }

        &.has-icons-right {
            right: $carousel-arrow-icon-spaced;
        }
    }
}
