
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */ 
/* @docs */

.checkbox {    
    .check {
        &:checked {
            border-color: list.nth(map.get(vars.$theme-colors, "primary"), 1);
            background: 
                list.nth(map.get(vars.$theme-colors, "primary"), 1) 
                url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath style='fill:white' d='M 0.04038059,0.6267767 0.14644661,0.52071068 0.42928932,0.80355339 0.3232233,0.90961941 z M 0.21715729,0.80355339 0.85355339,0.16715729 0.95961941,0.2732233 0.3232233,0.90961941 z'%3E%3C/path%3E%3C/svg%3E")
                no-repeat center center;
        }
    } 

    // Variants
    @each $name, $pair in vars.$theme-colors {
        $variant: list.nth($pair, 1);
        $variant-invert: list.nth($pair, 2);

        &.is-#{$name} {  
            .check {
                &:checked {
                    border-color: $variant;
                    background: 
                        $variant 
                        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath style='fill:white' d='M 0.04038059,0.6267767 0.14644661,0.52071068 0.42928932,0.80355339 0.3232233,0.90961941 z M 0.21715729,0.80355339 0.85355339,0.16715729 0.95961941,0.2732233 0.3232233,0.90961941 z'%3E%3C/path%3E%3C/svg%3E")
                        no-repeat center center;
                }
            }
        }
    }
}