
@use "sass:map";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

// @docs
// @docs

.collapse-component {
    &-trigger {
        cursor: pointer;
        display: inline-block;
    }

    &-content {
        display: inherit;
    }
}