
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
/* @docs */

.dropdown {
    display: inline-block;
	vertical-align: middle;

	&.disabled {
		opacity: 0.5;
        cursor: not-allowed;
	}

	&.inline {
		.dropdown-menu {
			position: static;
			display: inline-block;
        	padding: 0;
        	overflow: auto;
        	z-index: 0;
		}
	}	

	.dropdown-menu {
		min-width: 12rem;
		border: 0.005rem;
		border-style: var(--tw-border-style);
		border-color: rgb(227, 227, 227);

		.dropdown-item {
			&.active {
				background-color: list.nth(map.get(vars.$theme-colors, "primary"), 1);
				color: white;
			}
			&.disabled {
				opacity: 0.5;
        		cursor: not-allowed;
			}
			&:first-child {
				@apply rounded-t-lg;
			}
			&:last-child {
				@apply rounded-b-lg;
			}
		}

		// Position
		&.position-top {
			top: auto;
			right: auto;
			bottom: calc(100%);
			left: 50%;
			transform: translateX(-50%);
		}
		&.position-left {
			top: 50%;
			right: calc(100%);
			bottom: auto;
			left: auto;
			transform: translateY(-50%);
		}

		&.position-bottom {
			top: calc(100%);
			left: 50%;
			bottom: auto;
			right: auto;
			transform: translateX(-50%);
		}

		&.position-right {
			top: 50%;
			right: auto;
			bottom: auto;
			left: calc(100%);
			transform: translateY(-50%);
		}

		&.position-top-right {
			top: auto;
			right: 0;
			bottom: calc(100%);
			left: auto;
		}

		&.position-top-left {
			top: auto;
			right: auto;
			bottom: calc(100%);
			left: 0;
		}

		&.position-bottom-right {
			top: calc(100%);
			right: 0;
			bottom: auto;
			left: auto;
		}

		&.position-bottom-left {
			top: calc(100%);
			right: auto;
			bottom: auto;
			left: 0;
		}
    }


	// Mobile dropdown
	&.is-mobile-modal:not(.inline) {
		.dropdown-menu {
			position: fixed;
			top: 50%;
			left: 50%;
			width: 80%;
			transform: translateX(-50%) translateY(-50%);
			z-index: 1055;
		}
	}
	.dropdown-backdrop {
		background-color: rgba(0,0,0,.8);
		z-index: 1050;
	}
}
