
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
/* @docs */

.field {
    margin-bottom: .75rem;
    
    .help {
        font-size: .75rem;
        margin-top: .25rem;
        // Variants
        @each $name, $pair in vars.$theme-colors {
            $variant: list.nth($pair, 1);
            $variant-invert: list.nth($pair, 2);

            &.is-#{$name} {
                color: $variant;
            }
        }
    }

    &.is-horizontal {
        // display: flex;
        .field-body {
            flex-grow: 4;
        }
    }
    
    .field-body {
        .has-addons {
            .button, .input-component, select-component {
                margin: 0;
            }

            // Border radius
            > button:first-child,
            > *:first-child:not(:only-child) button,
            > input:first-child,
            > *:first-child:not(:only-child) input,
            > select:first-child,
            > *:first-child:not(:only-child) select {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }

            > button:last-child,
            > *:last-child:not(:only-child) button,
            > input:last-child,
            > *:last-child:not(:only-child) input,
            > select:last-child,
            > *:last-child:not(:only-child) select {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }

            > *:not(:first-child):not(:last-child) button,
            > button:not(:first-child):not(:last-child),
            > *:not(:first-child):not(:last-child) input,
            > input:not(:first-child):not(:last-child),
            > *:not(:first-child):not(:last-child) select,
            > select:not(:first-child):not(:last-child) {
                border-radius: 0;
            }
        }
    }
}
