
@use "sass:map";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
$icon-spin-duration: 2s !default;
/* @docs */

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // 
    // position: absolute;
    // margin: 0;
    // top: 0;
    // 
    height: 100%;
    // padding: 0.25rem;
    @each $name, $variant in vars.$theme-colors {
        &.text-#{$name} {
            color: utils.variant-varname($variant,vars.$variant-degree);
        }
    }
    // i {
    //     // position: absolute;
    //     margin: 0;
    //     top: 0;
    // }

    &.size-small {
        font-size: var(--text-sm);
    }
    &.size-medium {
        font-size: var(--text-base);
    }
    &.size-large {
        font-size: var(--text-lg);
    }

    &.clickable {
        pointer-events: auto;
        cursor: pointer;
    }
    &.spin {
        animation-name: icon-spin;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: $icon-spin-duration;
    }

}