
@use "sass:map";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
$icon-spin-duration: 2s !default;
/* @docs */

.icon {
    height: 100%;
    // padding: 0.25rem;
    @each $name, $variant in vars.$theme-colors {
        &.text-#{$name} {
            color: utils.variant-varname($variant,vars.$variant-degree);
        }
    }

    &.clickable {
        pointer-events: auto;
        cursor: pointer;
    }
}