
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
$icon-spin-duration: 2s !default;
/* @docs */

.icon {
    @each $name, $pair in vars.$theme-colors {
        $variant: list.nth($pair, 1);
        $variant-invert: list.nth($pair, 2);

        &.text-#{$name} {
            color: $variant;
        }
    }
}