
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
/* @docs */

.input-component {
    .icon { 
        position: absolute;
        top: 0;
        margin: 0;
        height: 100%;
        
        &.icon-right {
            right: 0.75rem;     
        }
        &.icon-left {
            left: 0.75rem;
        }
    }

    &.has-icons-left {
        .input {
            padding-left: 2.2rem;
        }
    }
    &.has-icons-right {
        .input {
            padding-right: 2.2rem;
        }
    }

    .input {
        padding: 0.70rem 1rem;
        font-size: var(--text-base);
        line-height: normal;

        // Variants
        @each $name, $pair in vars.$theme-colors {
            $variant: list.nth($pair, 1);
            $variant-invert: list.nth($pair, 2);
            
            &.border-#{$name} {
                border-color: $variant;
            }
        }
    }

    &.input-small {
        .input {
            font-size: var(--text-xs);
        } 
    }
    &.input-medium {
        .input {
            font-size: var(--text-base);
        }
    }
    &.input-large {
        .input {
            font-size: var(--text-2xl);
            &.icon-left {
                padding-left: 3.5rem;
            }
        } 
    }
}