
@use "sass:map";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
$input-icon-spacer: 0.75rem !default;
/* @docs */

.select,
.input-component {
    position: relative;
    display: inline-block;
    
    input {
        border: 1px solid rgb(227, 227, 227);
        // width: 100%;
        // background-color: red;
        @each $name, $variant in vars.$theme-colors {
            &.border-#{$name} {
                border-color: utils.variant-varname($variant,vars.$variant-degree);
                &:hover {
                    opacity: .9;
                }
            }
        }
    }

    .o-icon { 
        position: absolute;
        margin: 0;
        top: 0;
        height: 100%;

        .icon-left {
            // left: $input-icon-spacer;
            left: 0.75rem;
        }
        .icon-right {
            // right: $input-icon-spacer;
            right: 0.75rem;
        }
    }
}