
@use "sass:map";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
$loading-overlay-background-color: white !default;
$loading-overlay-zindex: 9999 !default;
/* @docs */

.loading {
    position: absolute;
    top: 0;
    left :0;
    right: 0;
    bottom: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    z-index: $loading-overlay-zindex;
    
    &.is-full-page {
        position: fixed;
        z-index: $loading-overlay-zindex;
    }

    .loading-overlay {
        position: absolute;
        top: 0 ;
        left :0 ;
        right: 0;
        bottom: 0;
        background-color: $loading-overlay-background-color;
        opacity: .7;
    }
}
