
@use "sass:map";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
$loading-overlay-background-color: var(--color-gray-50) !default;
$loading-overlay-zindex: 9999 !default;
/* @docs */

.loading {
    z-index: $loading-overlay-zindex;
    
    &.is-full-page {
        z-index: $loading-overlay-zindex;
    }

    .loading-overlay {
        background-color: $loading-overlay-background-color;
        opacity: .7;
    }
}
