
@use "sass:map";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
$loading-overlay-zindex: 9999 !default;
/* @docs */

.loading {
    z-index: $loading-overlay-zindex;
    
    &.is-full-page {
        z-index: $loading-overlay-zindex;
    }
}
