
@use "sass:map";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

.loading {
    position: absolute;
    top: 0;
    left :0;
    right: 0;
    bottom: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    z-index: 9999999999999999999;
    
    &.is-full-page {
        position: fixed;
        z-index: 999;
    }

    .loading-overlay {
        position: absolute;
        top: 0 ;
        left :0 ;
        right: 0;
        bottom: 0;
        background-color: white;
        opacity: .7;
    }
}
