
@use "sass:map";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */

/* @docs */

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //
    position: relative;
    top: 0;
    left: 0;
    //
    width: 100vw;
    height: 100vh;
    //
    position: fixed;
    //
    z-index: 40;

    .modal-content {
        background-color: white;
        //
        width: auto;
        max-height: calc(90vh - 10%);
        //
        position: absolute;
        top: 10%;
        left: 50%;
        //
        transform: translateX(-50%);
        //
        z-index: 9999;
        //
        overflow: auto;
    }
    .modal-background {
        width: 100%;
        height: 100%;
        //
        background-color: rgba(0,0,0,.8);
    }

    &.is-full-screen {
        top: 0;
        left: 0;
        //
        width: 100%;
        height: 100%;
    }

    .modal-close {
        // inset-inline-end: 1.25rem;
        // position: fixed;
        // top: 1.25rem;
        position: absolute;
        top: 0;
        right: 0;
    }
}