
@use "sass:map";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
/* @docs */

.modal {
    position: fixed;
    z-index: 40;

    .modal-content {
        max-height: calc(90vh - 10%);
        z-index: 9999;
    }
}