
@use "sass:map";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */

/* @docs */

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; // -> flex flex-col justify-center items-center
    //
    position: relative;
    top: 0;
    left: 0; //-> relative top-0 left-0
    //
    width: 100vw;
    height: 100vh; //-> w-screen h-screen
    //
    position: fixed; // -> fixed
    //
    z-index: 40;

    .modal-content {
        background-color: white; //-> bg-white
        //
        width: auto;
        max-height: calc(90vh - 10%); // -> w-auto
        //
        position: absolute;
        top: 10%;
        left: 50%;  // -> absolute top-[10%] left-[50%]
        //
        transform: translateX(-50%);
        //
        z-index: 9999;
        //
        overflow: auto;
    }
    .modal-background {
        width: 100%;
        height: 100%; // -> w-full h-full
        //
        background-color: rgba(0,0,0,.8);
    }

    // &.is-full-screen {
    //     .modal-content {
    //         top: 0;
    //         left: 0;
    //         //
    //         width: 100%;
    //         height: 100%;
    //         max-height: 100vh;
    //         margin: 0;
    //     }
    // }

    .modal-close {
        // inset-inline-end: 1.25rem;
        // position: fixed;
        // top: 1.25rem;
        position: absolute;
        top: 0;
        right: 0; //-> absolute top-0 left-0
    }
}