
@use "sass:map";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */

/* @docs */

.modal {
    position: fixed;
    z-index: 40;

    .modal-content {
        max-height: calc(90vh - 10%);
        z-index: 9999;
    }
    .modal-background {
        background-color: rgba(0,0,0,.8);
    }
}