
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
/* @docs */

.notification {
    background-color: list.nth(map.get(vars.$theme-colors, "primary"), 1);
    color: white;
   
    @each $name, $pair in vars.$theme-colors {
        $variant: list.nth($pair, 1);
        $variant-invert: list.nth($pair, 2);

        &.is-#{$name} {
            background-color: $variant;
        }
    }
}
.alert {
  & > button {
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
.notifictations {
    .alert {
        pointer-events: auto;
        max-width: 600px;

        &.position {
            &-top,
            &-bottom {
                align-self: center;
            }

            &-top-right,
            &-bottom-right {
                align-self: flex-end;
            }

            &-top-left,
            &-bottom-left {
                align-self: flex-start;
            }
        }
    }

    &.position {
        &-top {
            flex-direction: column;
        }

        &-bottom {
            flex-direction: column-reverse;

            > .div:first-child {
                margin-bottom: 0;
            }
        }
    }
}
