
@use "sass:map";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
$notification-close-btn-position: 1rem !default;
$notification-notices-padding: 2em !default;
$notification-notices-zindex: 99999 !default;
$notification-notices-max-width: 600px !default;
$notification-icon-margin-right: 0.5rem !default;
/* @docs */

.notification {
    background-color: utils.variant-varname(map.get(vars.$theme-colors, "primary"),vars.$variant-degree);
    color: white;
   
    @each $name, $variant in vars.$theme-colors {
        &.is-#{$name} {
            background-color: utils.variant-varname($variant,vars.$variant-degree);
        }
    }
    .notifictation-wrapper {
        .icon {
            margin-right: $notification-icon-margin-right;
        }
    }
}
.alert {
  & > button {
    background-color: transparent;
    border: 0;
    // 
    position: absolute;
    top: $notification-close-btn-position;
    right: $notification-close-btn-position;
  }
}
.notifictations {
    pointer-events: none;
    // 
    padding: $notification-notices-padding;
    // 
    z-index: $notification-notices-zindex;

    .alert {
        pointer-events: auto;
        max-width: $notification-notices-max-width;

        &.position {
            &-top,
            &-bottom {
                align-self: center;
            }

            &-top-right,
            &-bottom-right {
                align-self: flex-end;
            }

            &-top-left,
            &-bottom-left {
                align-self: flex-start;
            }
        }
    }

    &.position {
        &-top {
            flex-direction: column;
        }

        &-bottom {
            flex-direction: column-reverse;

            > .div:first-child {
                margin-bottom: 0;
            }
        }
    }
}
