
@use "sass:map";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
// pagination-nav-padding-left
// pagination-nav-padding-right
/* @docs */
.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //
    text-align: center;

    .pagination-previous,
    .pagination-next {
        padding-left: 0.75rem;
        padding-right: 0.75rem;

        &.is-disabled {
            pointer-events: none;
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
    .pagination-list {
        display: flex;
        align-items: center;
        list-style: none;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 1;
        // justify-content: flex-start;
        justify-content: flex-end;
        order: 1;
        //
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .pagination-link {
        border: 0.005rem;
        border-style: var(--tw-border-style);
        border-color: rgb(227, 227, 227);
        //
        padding: 8px 12px;
        margin: 0 4px;
        border-radius: 3px;
        //
        min-width: 2.5rem;
        //
        transition-duration: 294ms;
        transition-property: background-color, border-color, box-shadow, color;
    }

    &.is-simple {
        justify-content: normal;

        &.is-left {
            justify-content: flex-start;
        }

        &.is-centered {
            justify-content: center;
        }

        &.is-right {
            justify-content: flex-end;
        }
    }

    // size

    .is-current {
        pointer-events: none;
        cursor: not-allowed;
        //
        background-color: utils.variant-varname(map.get(vars.$theme-colors, "primary"),vars.$variant-degree);
        border-color: utils.variant-varname(map.get(vars.$theme-colors, "primary"),vars.$variant-degree);
        color: white;
    }
}