
@use "sass:map";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
$pagination-active-background-color: utils.variant-varname(map.get(vars.$theme-colors, "primary"),vars.$variant-degree) !default;
$pagination-nav-padding-left: 0.75rem !default;
$pagination-nav-padding-right: 0.75rem !default;
$pagination-link-margin: 0 4px !default;
$pagination-link-padding: 8px 12px !default;
$pagination-link-border-color: rgb(227, 227, 227) !default;
$pagination-link-border-radius: 3px !default;
$pagination-link-border-size: 0.005rem !default;
$pagination-link-min-width: 2.5rem !default;
/* @docs */

.pagination {
    // display: flex;
    // align-items: center;
    // justify-content: space-between; // @Tailwind -> ["flex", "justify-between", "items-center"]
    //
    // text-align: center; // @Tailwind -> text-center
    // 
    margin-bottom: 1.5rem;

    .pagination-previous,
    .pagination-next {
        padding-right: $pagination-nav-padding-right;
        padding-left: $pagination-nav-padding-left;

        &.is-disabled {
            pointer-events: none;
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
    .pagination-list {
        // display: flex;
        // align-items: center;
        // justify-content: flex-start;
        // flex-wrap: wrap;
        // flex-grow: 1;
        // flex-shrink: 1;
        // order: 1; // @Tailwind -> flex justify-start items-center flex-wrap grow shrink order-1
        //
        // text-align: center; // @Tailwind -> text-center
        list-style: none;
        //
        margin: 0;
        padding: 0;
    }
    .pagination-link {
        border: $pagination-link-border-size;
        border-style: var(--tw-border-style);
        border-color: $pagination-link-border-color;
        border-radius: $pagination-link-border-radius;
        //
        padding: $pagination-link-padding;
        margin: $pagination-link-margin;
        //
        min-width: $pagination-link-min-width;
        //
        transition-duration: 294ms;
        transition-property: background-color, border-color, box-shadow, color;
    }

    &.is-simple {
        justify-content: normal;

        &.is-left {
            justify-content: flex-start;
        }

        &.is-centered {
            justify-content: center;
        }

        &.is-right {
            justify-content: flex-end;
        }
    }

    // size

    .is-current {
        pointer-events: none;
        cursor: not-allowed;
        //
        background-color: $pagination-active-background-color;
        color: white;
        border-color: $pagination-active-background-color;
    }

    &.is-mobile {
        flex-wrap: wrap;

        .pagination-link  {
            flex-grow: 1;
            flex-shrink: 1;
        }

        .pagination-previous {
            flex-grow: 1;
            flex-shrink: 1;
            order: 0;
        }

        .pagination-next {
            flex-grow: 1;
            flex-shrink: 1;
            order: 0;
        }

        .o-pag__ellipsis {
            flex-grow: 1;
            flex-shrink: 1;
        }

        .pagination-list {
            order: 0;
        }
    }
}

