
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
/* @docs */

.pagination {
    .pagination-link {
        min-width: 2.5rem;
    }

    &.is-simple {
        justify-content: normal;
    }

    .is-current {
        background-color: list.nth(map.get(vars.$theme-colors, "primary"), 1);
        color: white;
        border-color: list.nth(map.get(vars.$theme-colors, "primary"), 1);
    }

    &.is-mobile {
        .pagination-link  {
            flex-grow: 1;
            flex-shrink: 1;
        }

        .pagination-previous {
            flex-grow: 1;
            flex-shrink: 1;
            order: 0;
        }

        .pagination-next {
            flex-grow: 1;
            flex-shrink: 1;
            order: 0;
        }

        .o-pag__ellipsis {
            flex-grow: 1;
            flex-shrink: 1;
        }

        .pagination-list {
            order: 0;
        }
    }
}

