
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
/* @docs */

@mixin radio-size ($check, $checked){
    .check { 
        width: $check;
        height: $check;
    }
    .check::before {
        content: '';
        width: $checked;
        height: $checked;
    }
}

.radio {
    .check {
        border-color: list.nth(map.get(vars.$theme-colors, "secondary"), 1);
        width: 1.25rem;
        height: 1.25rem;
    }
    .check::before {
        content: '';
        transform: scale(0);
        position: absolute;
        background-color: list.nth(map.get(vars.$theme-colors, "primary"), 1);
        border-color: list.nth(map.get(vars.$theme-colors, "primary"), 1);
        border-radius: 9999px;
        width: 1.06rem;
        height: 1.06rem;
        transition: all vars.$speed-slow var(--ease-in);      
    }
    .check:checked {
        border-color: list.nth(map.get(vars.$theme-colors, "primary"), 1);
    }
    .check:checked::before {
        content: '';
        transform: scale(.6);
    }

    // Variant 
    @each $name, $pair in vars.$theme-colors {
        $variant: list.nth($pair, 1);
        $variant-invert: list.nth($pair, 2);

        &.is-#{$name} {
            .check {
                border-color: $variant;
            }
            .check::before {
                content: '';
                background-color: $variant;
                border-color: $variant;
            }
            .check:checked {
                border-color: $variant;
            }
        }
    }

    // Size 
    &.is-small {
        @include radio-size(1rem, .79rem);
    }
    &.is-medium {
        @include radio-size(1.25rem, 1.06rem);
    }
    &.is-large {
        @include radio-size(1.50rem, 1.30rem);
    }
}