
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
$radio-active-background-color: list.nth(map.get(vars.$theme-colors, "primary"), 1) !default;
$radio-border-size: 2px !default;
$radio-border-radius: 50% !default;
$radio-font-size: 15px !default;
$radio-padding: .5em .75em !default;
$radio-control-label-padding-left: 11px !default;
// $radio
/* @docs */

@mixin radio-size ($control,$check,$checked){
    .control-label {
        font-size: $control;
    }
    .check { 
        width: $check;
        height: $check;
    }
    .check::before {
        content: '';
        width: $checked;
        height: $checked;
    }
}

.radio {
    padding: $radio-padding;
    vertical-align:top;

    .control-label {
        padding-left: $radio-control-label-padding-left;
        font-size: $radio-font-size;
    }
    .check {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        //
        font-size: inherit;
        //
        border-radius: $radio-border-radius;
        border: 2px solid list.nth(map.get(vars.$theme-colors, "secondary"), 1);
        //
        width: 1.25rem;
        height: 1.25rem;
        //
        flex-shrink: 0;
        //
        outline: none;
    }
    .check:hover {
        border: $radio-active-background-color 2px solid;
    }
    .check:focus {
        box-shadow: .1px .1px 10px $radio-active-background-color;
    }
    .check::before {
        content: '';
        transform: scale(0);
        //
        position: absolute;
        //
        background-color: $radio-active-background-color;
        //
        border: $radio-active-background-color 2px solid;
        border-radius: $radio-border-radius;
        //
        width: 1rem;
        height: 1rem;
        //
        transition: all vars.$speed-slow var(--ease-in);      
    }
    .check:checked {
        border: $radio-active-background-color 2px solid;
    }
    .check:checked::before {
        content: '';
        transform: scale(.6);
    }

    // Variant 
    @each $name, $pair in vars.$theme-colors {
        $variant: list.nth($pair, 1);
        $variant-invert: list.nth($pair, 2);

        &.is-#{$name} {
            .check {
                border: 2px solid $variant;
            }
            .check:hover {
                border: $variant 2px solid;
            }
            .check:focus {
                box-shadow: .1px .1px 10px $variant;
            }
            .check::before {
                content: '';
                background-color: $variant;
                border: $variant 2px solid;
            }
            .check:checked {
                border: $variant 2px solid;
            }
        }
    }

    // Size 
    &.is-small {
        @include radio-size(8px, 1rem, .7rem);
    }
    &.is-medium {
        @include radio-size(12px, 1.25rem, 1rem);
    }
    &.is-large {
        @include radio-size(20px, 1.50rem, 1.25rem);
    }

    &.is-disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}