
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
$select-icon-spacer: 0.75rem !default;
$select-border-color: rgb(227, 227, 227) !default;
$select-border-size: 0.005rem !default;
$select-padding: 0.50rem 2rem 0.50rem 1rem !default;
$select-font-size: var(--text-base) !default;
$select-arrow-color: black !default;
$select-arrow-size: 1rem !default;
/* @docs */

.select-component {
    .icon {
        position: absolute;
        top: 0;
        margin: 0;
        height: 100%;
        
        &.icon-right {
            right: $select-icon-spacer;     
        }
        &.icon-left {
            left: $select-icon-spacer;
        }
    }

    &.has-icons-left {
        .select {
            padding-left: 2rem;
        }
    }
    &.has-icons-right {
        .select {
            padding-right: 2rem;
        }
    }

    // Variants
    @each $name, $pair in vars.$theme-colors {
        $variant: list.nth($pair, 1);
        $variant-invert: list.nth($pair, 2);
        
        &.border-#{$name} {
            .select {
                border-color: $variant;
            }
        }
    }

    .select {
        border: $select-border-size;
        border-style: var(--tw-border-style);
        border-color: $select-border-color; 
        padding: $select-padding; 
        font-size: $select-font-size;
        line-height: normal;

        &.has-icons-left {
            padding-left: 2rem;
        }
        &.has-icons-right {
            padding-right: 2rem;
        }

        &.input-small {
            font-size: var(--text-xs);
            line-height: normal;
        }
        &.input-medium {
            font-size: var(--text-base);
            line-height: normal;
        }
        &.input-large {
            font-size: var(--text-2xl);
            line-height: normal;
            &.has-icon-left {
                padding-left: 3rem;
            }
        }

        &.has-arrow {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:serif="http://www.serif.com/" width="100%" height="100%" viewBox="0 0 100 100" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"><g transform="matrix(5.70052,0,0,5.70052,-1329.79,-547.054)"><path d="M233.451,101.749L235.617,99.422L242.013,105.565L248.463,99.422L250.642,101.749L242.013,110.052L233.451,101.749Z" style="fill:black;stroke:white;stroke-width:0.18px;"/></g></svg>');
            background-repeat: no-repeat;
            background-size: $select-arrow-size;
            background-position: calc(
                100% - $select-arrow-size * 0.5
            )
            center;
            padding-right: calc(
            $select-arrow-size * 2
            );
        }
    }
}