
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
/* @docs */

.select-component {
    .icon {
        position: absolute;
        top: 0;
        margin: 0;
        height: 100%;
        
        &.icon-right {
            right: 0.75rem;
        }
        &.icon-left {
            left: 0.75rem;
        }
    }

    // Variants
    @each $name, $pair in vars.$theme-colors {
        $variant: list.nth($pair, 1);
        $variant-invert: list.nth($pair, 2);
        
        &.border-#{$name} {
            .select {
                border-color: $variant;
            }
        }
    }

    .select {
        padding: 0.70rem 1rem 0.70rem 1rem; 
        font-size: var(--text-base);
        line-height: normal;

        &.has-icons-left {
            padding-left: 2.5rem;
        }
        &.has-icons-right {
            padding-right: 2.5rem;
        }

        &.input-small {
            font-size: var(--text-xs);
            line-height: normal;
        }
        &.input-medium {
            font-size: var(--text-base);
            line-height: normal;
        }
        &.input-large {
            font-size: var(--text-2xl);
            line-height: normal;
            &.has-icon-left {
                padding-left: 3rem;
            }
        }

        &.has-arrow {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:serif="http://www.serif.com/" width="100%" height="100%" viewBox="0 0 100 100" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"><g transform="matrix(5.70052,0,0,5.70052,-1329.79,-547.054)"><path d="M233.451,101.749L235.617,99.422L242.013,105.565L248.463,99.422L250.642,101.749L242.013,110.052L233.451,101.749Z" style="fill:black;stroke:white;stroke-width:0.18px;"/></g></svg>');
            background-repeat: no-repeat;
            background-size: 1rem;
            background-position: calc(100% - 1rem * 0.5) center;
            padding-right: calc(1rem * 2);
        }
    }
}