
@use "sass:map";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
/* @docs */

.sidebar {
    position: absolute; // -> absolute

    &.is-inline {
        position: static; // -> static 
       .sidebar-content, .sidebar-background {
            position: static; 
            display: inline; // -> static inline
            border: 0.005rem;
            border-style: var(--tw-border-style);
            border-color: rgb(227, 227, 227);
       }
    }
    
    .sidebar-content {
        // height: auto;
        // width: auto;
        // background: white;
        position: fixed;
        // transition: all .2s ease-in-out; // -> h-auto w-auto bg-white transition-all duration-200 ease-in-out
        z-index: 9999;

        &.is-fullwidth {
            width: 100%;
        }
        &.is-fullheight {
            height: 100%;
        }

        &.is-expanded:hover {
            width: 100%;
        }

        &.is-top {
            width: 100%;
            top: 0;
            right: 0;
            left: 0;
        }
        &.is-right {
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
        }
        &.is-left {
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
        }
        &.is-bottom {
            width: 100%;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }
    .sidebar-background {
        background-color: rgba(0,0,0,.8);
        position: relative;
        top: 0;
        left: 0; // -> relative top-0 left-0
        //
        width: 100%;
        height: 100%; // -> w-full h-full
        //
        position: fixed; // -> fixed 
        //
        transition: all .2s ease-in-out; //-> ransition-all duration-200 ease-in-out
        z-index: 40;
    }
}