
@use "sass:map";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
/* @docs */

.sidebar {
    position: absolute;

    &.is-inline {
        position: static;
       .sidebar-content, .sidebar-background {
            position: static;
            display: inline;
            border: 0.005rem;
            border-style: var(--tw-border-style);
            border-color: rgb(227, 227, 227);
       }
    }
    
    .sidebar-content {
        height: auto;
        width: auto;
        background: white;
        position: fixed;
        z-index: 9999;
        transition: all .2s ease-in-out;

        &.is-fullwidth {
            width: 100%;
        }
        &.is-fullheight {
            height: 100%;
        }

        &.is-expanded:hover {
            width: 100%;
        }

        &.is-top {
            width: 100%;
            top: 0;
            right: 0;
            left: 0;
        }
        &.is-right {
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
        }
        &.is-left {
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
        }
        &.is-bottom {
            width: 100%;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }
    .sidebar-background {
        background-color: rgba(0,0,0,.8);
        position: relative;
        top: 0;
        left: 0;
        //
        width: 100%;
        height: 100%;
        //
        position: fixed;
        //
        transition: all .2s ease-in-out;
        z-index: 40;
    }
}