
@use "sass:map";
@use "./utils/variables" as vars;

/* @docs */
$skeleton-bg-color: rgb(227, 227, 227) !default;
$skeleton-bg: linear-gradient( 90deg, $skeleton-bg-color 25%, rgba($skeleton-bg-color, 0.5) 50%, $skeleton-bg-color 75%) !default;
$skeleton-duration: 1.5s !default;
$skeleton-margin: 0.5rem 0 0 0 !default;
$skeleton-line-height: var(--text-base--line-height);
/* @docs */

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.skeleton {
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
  width: 100%;

  .skeleton-item {
    width: 100%;
    background-image: $skeleton-bg;
    margin: $skeleton-margin;
    line-height: 1rem;

    &.animated {
      background-size: 400% 100%;
      animation-name: skeleton-loading;
      animation-iteration-count: infinite;
      animation-duration: $skeleton-duration;
    }

    &::after {
      content: "\00a0";
    }

    // Sizes
    &.is-small {
        line-height: .5rem;
    }
    &.is-medium {
        line-height: 1rem;
    }
    &.is-large {
        line-height: 1.5rem;
    }
  }
}
