
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

.slider {
    .slider-track {
        background-color: var(--color-gray-100);
        //
        height: 8px;
        width: 100%;
        //
        position: relative; // -> relative
        //
        border-radius: 3px;
        
        .slider-fill {
            background-color: list.nth(map.get(vars.$theme-colors, "primary"), 1);
            //
            height: inherit;
            //
            border-radius: 3px;
            //
            position: absolute; // -> absolute

            /// colors
            @each $name, $pair in vars.$theme-colors {
                $variant: list.nth($pair, 1);
                $variant-invert: list.nth($pair, 2);
                
                &.is-#{$name} {
                    background-color: $variant;
                }
            }
        }
        
        .slider-tick {
            position: absolute;
            top: 0; // -> absolute top-0
            //
            width: 2px;
            height: inherit;
            //
            transform: translate(-50%);
            //
            background-color: var(--color-gray-400);
            //
            border-radius: 50%;

            .slider-tick-label {
                position: absolute;
                left: 50%; // -> absolute left-1/2
                //
                font-size: var(--text-xs);
                //
                transform: translate(-50%);
            }
        }
        .slider-thumb-wrapper {
            display: inline-flex;
            align-items: center;
            flex-direction: column; // -> inline-flex flex-col items-center
            //
            position: absolute;
            top: 50%; // -> absolute top-1/2
            //
            cursor: grab; // ->  cursor-grab
            //
            transform: translate(-50%, -50%);
            

            .slider-thumb {
                width: 20px;
                height: 20px;
                //
                border: 0.005rem;
                border-style: var(--tw-border-style);
                border-color: rgb(227, 227, 227);
                border-radius: 3px;
                //
                background-color: white;
                cursor: grab; // -> bg-white cursor-grab

                &.is-rounded {
                    border-radius: 9999px;
                }
            }

            &.is-dragging {
                .slider-thumb {
                    cursor: grabbing;
                }
            }
        }
    }

    &.is-small {
        .slider-track {
            height: 5px;
            .slider-thumb-wrapper {
                .slider-thumb {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
    &.is-medium {
        .slider-track {
            height: 10px;
            .slider-thumb-wrapper {
                .slider-thumb {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    &.is-large {
        .slider-track {
            height: 20px;
            .slider-thumb-wrapper {
                .slider-thumb {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}