
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

.slider {

    &.is-small {
        .slider-track {
            height: 5px;
            .slider-thumb-wrapper {
                .slider-thumb {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
    &.is-medium {
        .slider-track {
            height: 10px;
            .slider-thumb-wrapper {
                .slider-thumb {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    &.is-large {
        .slider-track {
            height: 20px;
            .slider-thumb-wrapper {
                .slider-thumb {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .slider-track {
        background-color: var(--color-gray-100);
        height: 8px;
        width: 100%;
        position: relative;
        border-radius: 3px;
        
        .slider-fill {
            background-color: list.nth(map.get(vars.$theme-colors, "primary"), 1);
            height: inherit;
            border-radius: 3px;

            /// colors
            @each $name, $pair in vars.$theme-colors {
                $variant: list.nth($pair, 1);
                $variant-invert: list.nth($pair, 2);
                
                &.is-#{$name} {
                    background-color: $variant;
                }
            }
        }
        
        .slider-tick {
            position: absolute;
            top: 0;
            width: 3px;
            transform: translate(-50%);
            height: inherit;
            background-color: gray;
        }
        .slider-thumb-wrapper {
            display: inline-flex;
            align-items: center;
            position: absolute;
            cursor: grab;
            transform: translate(-50%, -50%);
            top: 50%;
            flex-direction: column;

            .slider-thumb {
                width: 20px;
                height: 20px;
                border: 0.005rem;
                border-style: var(--tw-border-style);
                border-color: rgb(227, 227, 227);
                border-radius: 3px;
                background-color: white;
                cursor: grab;

                &.is-rounded {
                    border-radius: 9999px;
                }
            }

            &.is-dragging {
                .slider-thumb {
                    cursor: grabbing;
                }
            }
        }
    }
}