
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

.slider {
    .slider-track {
        background-color: var(--color-gray-100);
        
        .slider-fill {
            background-color: list.nth(map.get(vars.$theme-colors, "primary"), 1);
            height: inherit;

            @each $name, $pair in vars.$theme-colors {
                $variant: list.nth($pair, 1);
                $variant-invert: list.nth($pair, 2);
                
                &.is-#{$name} {
                    background-color: $variant;
                }
            }
        }
        
        .slider-tick {
            height: inherit;
            background-color: var(--color-gray-400);

            .slider-tick-label {
                font-size: var(--text-xs);
            }
        }
    }
}