
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

.steps-wrapper {
    .steps {
        // .step-marker:not(:first-child)::before {
        //     content: " ";
        //     display: block;
        //     position: absolute;
        //     width: 75%;
        //     height: 1px;
        //     top: 32%;
        //     left: -37%;
        //     bottom: 0;
        //     background: var(--color-gray-200);
        // }
        
        .is-active {
            .step-marker {
                background-color: list.nth(map.get(vars.$theme-colors, "primary"), 2);
                color: list.nth(map.get(vars.$theme-colors, "primary"), 1)
            }
            .step-title {
                color: list.nth(map.get(vars.$theme-colors, "primary"), 1);
            }
        } 

        @each $name, $pair in vars.$theme-colors {
            $variant: list.nth($pair, 1);
            $variant-invert: list.nth($pair, 2);
            .is-active {
                &.is-#{$name} {
                    .step-marker {
                        background-color: $variant-invert;
                        color: $variant;
                    }
                    .step-title {
                        color: $variant;
                    }
                }
            }
        }
    }
}
