
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
$switch-border-color: rgb(227, 227, 227) !default;
$switch-border-size: 2px !default;
$switch-font-size: 15px !default;
$switch-border-radius: .500rem !default;
$switch-padding: .15rem !default;
$switch-width: 1.75rem !default;
$switch-control-label-padding-left: 11px !default;
$switch-active-background-color: list.nth(map.get(vars.$theme-colors, "primary"), 1) !default;
/* @docs */

@mixin switch-size ($control,$check){
    .control-label {
        font-size: $control;
    }
    .check { 
        width: $check
    }
    .check::before {
        content: "";
        width: calc(($check - $switch-padding * 2) / 2);
        height: calc(($check - $switch-padding * 2) * .5);
    }
    .check:checked::before {
        content: '';
        transform: translateX(calc(($check - $switch-padding * 2) / 2));
    }
}

.switch {
    padding: $switch-padding;

    .control-label {
        padding-left: $switch-control-label-padding-left;
        font-size: $switch-font-size;
    }

    // input {
    //     -webkit-appearance: none;
    //     -moz-appearance: none;
    //     appearance: none;
    // }

    .check {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: inherit;
        width: $switch-width;
        height: auto;
        padding: $switch-padding;
        background: rgb(202, 202, 202);
        border-radius: $switch-border-radius;
        transition: all vars.$speed-slow var(--ease-in); 
    }
    .check::before {
        content: "";
        display: block; // -> block
        //
        font-size: inherit;
        //
        border-radius: $switch-border-radius;
        //
        width: calc(($switch-width - $switch-padding * 2) / 2);
        height: calc(($switch-width - $switch-padding * 2) * .5);
        //
        background: white; // -> bg-white
        // box-shadow: 0 3px 1px #0000000d, 0 2px 2px #0000001a, 0 3px 3px #0000000d;
        transition: all vars.$speed-slow var(--ease-in); 
        will-change: transform;
        transform-origin: left;
    }
    .check:checked {
        background-color: list.nth(map.get(vars.$theme-colors, "primary"), 1);
    }
    .check:checked::before {
        content: '';
        transform: translateX(calc(($switch-width - $switch-padding * 2) / 2));
    }

    // Variants
    @each $name, $pair in vars.$theme-colors {
        $variant-invert: list.nth($pair, 2);
        $variant: list.nth($pair, 1);
        
        &.is-#{$name} {
           .check:checked {
                background-color: $variant;
           }
        }
    }

    // Size
    &.is-small {
        @include switch-size(8px, 1.25rem);
    }
    &.is-medium {
        @include switch-size(12px, 1.50rem);
    }
    &.is-large {
        @include switch-size(20px, 2rem);
    }

    &.is-disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}