
@use "sass:map";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */

/* @docs */

.table-inner {
    .table {
        .is-narrowed {
            tr, th, td {
                padding: 0;
            } 
        }
        
    }
    
}
