
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
/* @docs */

.taginput {
    .taginput-container {
        input {
            &:focus {
                box-shadow: none;
            }
        } 
    }

    @each $name, $pair in vars.$theme-colors {
        $variant-invert: list.nth($pair, 2);
        $variant: list.nth($pair, 1);

        &.is-#{$name} {
            .tag {
                background-color: $variant;
                color: white;
            }
        }
    }
}