
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

.timepicker {
    width: auto; // -> w-auto
    .dropdown {
        .dropdown-menu {
            width: auto; // -> w-auto
            .dropdown-item {
                display: flex;
                align-items: center; // -> flex items-center
            }
        }
    }
    .timepicker-footer {
        display: flex; // -> flex
        padding: 0 0.5rem 0 0.5rem;
    }
}

// padding: .25rem 1rem;