
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

.timepicker {
    .dropdown {
        .dropdown-menu {
            width: auto;
        }
    }
    .timepicker-footer {
        padding: 0 0.5rem 0 0.5rem;
    }
}