
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
$tooltip-arrow-size: 5px !default;
$tooltip-arrow-margin: 2px !default;
$tooltip-content-multiline-width: 222px !default;
// $tooltip-shadow: 0 1px 2px 1px rgba(0, 1, 0, 0.2) !default;
$tooltip-zindex: 38 !default;
$tooltip-colors: black !default;
$tooltip-border-radius: 3px !default;
$tooltip-bg: black !default;
$tooltip-color: white !default;
$tooltip-padding: 0.35rem 0.75rem !default;
$tooltip-font-size: 0.85rem !default;
/* @docs */

.tooltip {
    .tooltip-content {
        background-color: $tooltip-bg;
        color: $tooltip-color;
        border-radius: $tooltip-border-radius;
        padding: $tooltip-padding;
        font-size: $tooltip-font-size;
        z-index: $tooltip-zindex;

        &::before {
            position: absolute;
            content: "";
            pointer-events: none;
            z-index: $tooltip-zindex;
        }
        &.is-multiline {
            text-align: center;
            white-space: normal;
            width: $tooltip-content-multiline-width;
        }

        // variables for the directions
        $arrow-size: calc(100% + $tooltip-arrow-size + $tooltip-arrow-margin);
        $arrow-border: $tooltip-arrow-size solid $tooltip-bg;
        $arrow-border-passive: $tooltip-arrow-size solid transparent;

        &.is-top {
            top: auto;
            right: auto;
            bottom: $arrow-size;
            left: 50%;
            transform: translateX(-50%);

            &::before {
                top: 100%;
                right: auto;
                bottom: auto;
                left: 50%;
                transform: translateX(-50%);
                border-top: $arrow-border;
                border-right: $arrow-border-passive;
                border-left: $arrow-border-passive;
            }
        }
        &.is-bottom {
            top: $arrow-size;
            right: auto;
            bottom: auto;
            left: 50%;
            transform: translateX(-50%);

            &::before {
                top: auto;
                right: auto;
                bottom: 100%;
                left: 50%;
                transform: translateX(-50%);
                border-right: $arrow-border-passive;
                border-bottom: $arrow-border;
                border-left: $arrow-border-passive;
            }
        }
        &.is-right {
            top: 50%;
            right: auto;
            bottom: auto;
            left: $arrow-size;
            transform: translateY(-50%);

            &:before {
                top: 50%;
                right: 100%;
                bottom: auto;
                left: auto;
                transform: translateY(-50%);
                border-top: $arrow-border-passive;
                border-right: $arrow-border;
                border-bottom: $arrow-border-passive;
            }
        }
        &.is-left {
            top: 50%;
            right: $arrow-size;
            bottom: auto;
            left: auto;
            transform: translateY(-50%);

            &::before {
                top: 50%;
                right: auto;
                bottom: auto;
                left: 100%;
                transform: translateY(-50%);
                border-top: $arrow-border-passive;
                border-bottom: $arrow-border-passive;
                border-left: $arrow-border;
            }
        }
        
         @each $name, $pair in vars.$theme-colors {
            $variant-invert: list.nth($pair, 2);
            $variant: list.nth($pair, 1);

            &.is-#{$name} {
                background-color: $variant;
                border-color: $variant;
                
                &.is-top {
                    &::before {
                        border-top:$tooltip-arrow-size solid $variant;
                    }
                }
                &.is-bottom {
                    &::before {
                        border-bottom:$tooltip-arrow-size solid $variant;
                    }
                }
                &.is-right {
                    &::before {
                        border-right:$tooltip-arrow-size solid $variant;
                    }
                }
                &.is-left {
                    &::before {
                        border-left:$tooltip-arrow-size solid $variant;   
                    }
                }
                // If light and dark colors are provided
            }
        }
    }

    &.is-teleported {
        .tooltip-content {
            &.is-top {
                margin-top: calc(-1 * $tooltip-arrow-size);
            }

            &.is-bottom {
                margin-top: $tooltip-arrow-size;
            }

            &.is-right {
                margin-left: $tooltip-arrow-size;
            }

            &.is-left {
                margin-left: calc(-1 * $tooltip-arrow-size);
            }
        }
    }
    &.is-dashed {
        .tooltip-trigger {
            border-bottom: 1px dashed gray;
            cursor: default;
        }
    }

    &.is-square {
        .tooltip-content {
            border-radius: 0;
        }
    }
}