
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
/* @docs */

.tooltip {
    .tooltip-content {
        &.is-multiline {
            text-align: center;
            white-space: normal;
            width: 222px;
        }

        // variables for the directions
        $arrow-size: calc(100% + 5px + 2px);
        $arrow-border: 5px solid black;
        $arrow-border-passive: 5px solid transparent;

        &.is-top {
            top: auto;
            right: auto;
            bottom: $arrow-size;
            left: 50%;
            transform: translateX(-50%);

            &::before {
                top: 100%;
                right: auto;
                bottom: auto;
                left: 50%;
                transform: translateX(-50%);
                border-top: $arrow-border;
                border-right: $arrow-border-passive;
                border-left: $arrow-border-passive;
            }
        }
        &.is-bottom {
            top: $arrow-size;
            right: auto;
            bottom: auto;
            left: 50%;
            transform: translateX(-50%);

            &::before {
                top: auto;
                right: auto;
                bottom: 100%;
                left: 50%;
                transform: translateX(-50%);
                border-right: $arrow-border-passive;
                border-bottom: $arrow-border;
                border-left: $arrow-border-passive;
            }
        }
        &.is-right {
            top: 50%;
            right: auto;
            bottom: auto;
            left: $arrow-size;
            transform: translateY(-50%);

            &:before {
                top: 50%;
                right: 100%;
                bottom: auto;
                left: auto;
                transform: translateY(-50%);
                border-top: $arrow-border-passive;
                border-right: $arrow-border;
                border-bottom: $arrow-border-passive;
            }
        }
        &.is-left {
            top: 50%;
            right: $arrow-size;
            bottom: auto;
            left: auto;
            transform: translateY(-50%);

            &::before {
                top: 50%;
                right: auto;
                bottom: auto;
                left: 100%;
                transform: translateY(-50%);
                border-top: $arrow-border-passive;
                border-bottom: $arrow-border-passive;
                border-left: $arrow-border;
            }
        }
        
         @each $name, $pair in vars.$theme-colors {
            $variant-invert: list.nth($pair, 2);
            $variant: list.nth($pair, 1);

            &.is-#{$name} {
                background-color: $variant;
                border-color: $variant;
                
                &.is-top {
                    &::before {
                        border-top:5px solid $variant;
                    }
                }
                &.is-bottom {
                    &::before {
                        border-bottom:5px solid $variant;
                    }
                }
                &.is-right {
                    &::before {
                        border-right:5px solid $variant;
                    }
                }
                &.is-left {
                    &::before {
                        border-left:5px solid $variant;   
                    }
                }
                // If light and dark colors are provided
            }
        }
    }

    &.is-teleported {
        .tooltip-content {
            &.is-top {
                margin-top: calc(-1 * 5px);
            }

            &.is-bottom {
                margin-top: 5px;
            }

            &.is-right {
                margin-left: 5px;
            }

            &.is-left {
                margin-left: calc(-1 * 5px);
            }
        }
    }
    &.is-dashed {
        .tooltip-trigger {
            border-bottom: 1px dashed gray;
            cursor: default;
        }
    }

    &.is-square {
        .tooltip-content {
            border-radius: 0;
        }
    }
}