
@use "sass:map";
@use "sass:list";
@use "./utils/all" as utils;
@use "./utils/variables" as vars;

/* @docs */
/* @docs */

.upload {
    @each $name, $pair in vars.$theme-colors {
        $variant-invert: list.nth($pair, 2);
        $variant: list.nth($pair, 1);
        
        &.is-#{$name} {
            .is-hovered {
                background-color:$variant-invert;
                border-color: $variant;
                color: $variant;
            }
        }
    }
}
